

<div class="row">
    <div class="bgfiltro" style="float: left; height: 30px; padding: 2px;">
        <div class="form-group">
  	        <?php if ($this->mode == 'normal'): ?>
                <span>
                    <?php echo $this->period; ?>
                    <br />
                </span>
            <?php endif ?>
            <?php echo $this->exibition_mode; ?>
            <input type="radio" name="modo" id="modo" value="normal" checked> <?php echo $this->normal; ?>
            <input type="radio" name="modo" id="modo" value="terminal" > <?php echo $this->terminal; ?>
            <input type="radio" name="modo" id="modo" value="contrast" > <?php echo $this->contrast; ?>
        </div>
    </div>
    <br /><br /><br />
    <div id="tail" class="normal">
        <pre id="data" class="normal" style="height:800px; overflow:auto;">
            <?php

            if ($this->mode === 'normal') {

                $handle = fopen($this->file, "r") ;
                if ($handle) {
                    while (!feof($handle)) {
                        $buffer = fgets($handle, 1024);
                        //foreach($buffer as $row) {
                              echo trim($buffer) ;
                              echo "<br /> ";

                        //}
                    }
                    fclose($handle);
                }

            } else { ?>
                <script type="text/javascript" src="/snep/includes/javascript/logtail.js"></script>

            <?php }?>
        </pre>
    </div>

   <br>
  <div class="snep-body-footer-buttons">
      <button type="button" class="btn btn-add btn-primary" onclick="javascript: history.go(-1)">
        <?php echo $this->translate("Back"); ?>
  </button>

  </div>
</div>

<script type="text/javascript">


    jQuery.noConflict();
    jQuery("input:radio[name=modo]").click(function(){
        var value = jQuery(this).val() ;
        switch(value) {
            case "normal":

              jQuery('#data').removeClass('terminal');
              jQuery('#data').removeClass('contraste');
              jQuery('#data').addClass('normal');
              break;
            case "terminal":

              jQuery('#data').removeClass('normal');
              jQuery('#data').removeClass('contraste');
              jQuery('#data').addClass('terminal');

              break;
            case "contrast":

              jQuery('#data').removeClass('terminal');
              jQuery('#data').removeClass('normal');
              jQuery('#data').addClass('contraste');
              break;
        }
    });

</script>
